APP_NAME=DocuMind
APP_ENV=local
APP_URL=http://localhost/documind/public

DB_HOST=localhost
DB_PORT=3306
DB_NAME=documind
DB_USER=root
DB_PASS=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/documind/public/auth/google/callback

UPLOAD_MAX_MB=20
LOG_LEVEL=error
